[submodule "extern/venture-co-api"]
	path = extern/venture-co-api
	url = git@github.com:sotah-inc/venture-co-api.git
[submodule "extern/infra"]
	path = extern/infra
	url = git@github.com:sotah-inc/infra.git
[submodule "extern/venture-co-client"]
	path = extern/venture-co-client
	url = git@github.com:sotah-inc/venture-co-client.git
[submodule "extern/venture-co-next"]
	path = extern/venture-co-next
	url = git@github.com:sotah-inc/venture-co-next.git
