[submodule "extern/venture-co-next"]
	path = extern/venture-co-next
	url = ssh://adrian@sotah.info@source.developers.google.com:2022/p/sotah-prod/r/venture-co-next
[submodule "extern/venture-co-api"]
	path = extern/venture-co-api
	url = ssh://adrian@sotah.info@source.developers.google.com:2022/p/sotah-prod/r/venture-co-api
[submodule "extern/infra"]
	path = extern/infra
	url = ssh://adrian@sotah.info@source.developers.google.com:2022/p/sotah-prod/r/infra
[submodule "extern/bilgewater-cartel"]
	path = extern/bilgewater-cartel
	url = ssh://adrian@sotah.info@source.developers.google.com:2022/p/sotah-prod/r/bilgewater-cartel
