[submodule "extern/venture-co-api"]
	path = extern/venture-co-api
	url = git@github.com:sotah-inc/venture-co-api.git
[submodule "extern/infra"]
	path = extern/infra
	url = git@github.com:sotah-inc/infra.git
