@import "./vendor/blueprint-variables.scss";

.item-icon-container,
.quantity-container,
.currency-container,
.buyout-container,
.auclist-container,
.owner-container {
    line-height: 24px;
}

.item-popover-content {
    padding: 10px;
    width: 450px;

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .postscript {
        float: right;
    }

    .item-icon {
        border-radius: 3px;
        width: 56px;
        height: 56px;
        margin-bottom: -22px;
        border-width: 3px;
        border-style: solid;
    }

    .item-text {
        line-height: 56px;
        margin-bottom: 0;
    }

    .item-level,
    .description,
    .set-name {
        color: $gold3;
    }

    .on-use,
    .random-stats {
        color: $green3;
    }
    
    .crafting-reagent,
    .glyph-kind,
    .legacy-bonus-message {
        color: $blue5;
    }

    .socket,
    .set-effect {
        color: $gray4;
    }

    .set-item {
        color: $gray4;
        padding-left: 10px;
    }

    .class-labels {
        span {
            color: $sepia1;
        }

        .warrior { color: $sepia5; }
        .paladin { color: $rose5; }
        .hunter { color: $forest5; }
        .rogue { color: $gold5; }
        .priest { color: $light-gray1; }
        .death-knight { color: $red4; }
        .shaman { color: $cobalt5; }
        .mage { color: $blue5; }
        .warlock { color: $indigo5; }
        .monk { color: $turquoise5; }
        .druid { color: $vermilion5; }
        .demon-hunter { color: $violet4; }
    }
}

.bp3-dark {
    .item-popover-content {
        .item-level,
        .description {
            color: $gold5;
        }

        .on-use,
        .random-stats {
            color: $green5;
        }

        .crafting-reagent,
        .name-description {
            color: $blue5;
        }
    }
}